<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/frontend/templates/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="row no-gutters" style="height: 729px;">
        <div class="col d-flex align-items-center flex-column justify-content-center p-3 border border-right">
            <h1 class="mb-4">
                Create User
            </h1>
            <form action="/create-user" method="post">
                <label>User ID</label>
                <input class="form-control mb-3" name="userid">  
                <label>Password</label>
                <input class="form-control" type="password"  name="password">  
                <button type="submit" class="btn btn-primary btn-lg btn-block my-4" id="button">Submit</button>
            </form>
        </div>
        <div class="col d-flex align-items-center flex-column justify-content-center mx-5">
            
                <h1 class="text-center">
                    View User
                </h1>
                <div class=" justify-content-center" id="users"></div>
              
                
              
                <a href="/admin-view" class="btn btn-primary align-items-end mt-2" id="button">View</a>
            
        </div>
      </div>
      <script src="/frontend/templates/js/admin.js"></script>
</body>
</html>